{% extends 'base.html' %}
{% block content %}
<div style="min-height: 100%; background: url('http://dgfinance.com.ua/i/company-bg.jpg');
     background-repeat: no-repeat; background-position: center; background-size: cover; margin: 0px -12px;">
    <div  class="d-flex flex-column align-items-center justify-content-center"
          style="position: absolute; top: 60px; bottom:0; left: 0; right: 0; background-color: rgba(42,118,145,0.5);">
        <h1 class="display-1 text-center text-light"> Добро пожаловать в <br/>«ДОВЕРИЕ И ГАРАНТИЯ»</h1>
    </div>
</div>
{% endblock %}