<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="http://dgfinance.com.ua/i/logo.png"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if 'about' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" aria-current="page" href="{% url "about:company-info" %}">О компании</a>
                </li>
            <li class="nav-item">
                    <a class="nav-link {% if 'graphic' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" aria-current="page" href="{% url "tmp" %}">Структура</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'blog' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" aria-current="page" href="{% url "blog:main" %}">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'adr' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %} " href="{% url "wokerlist:adresBook" %}">Сотрудники</a>
                </li>
                <li>
                    <a class="nav-link{% if 'birthdays' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" href="{% url 'birthdays' %}">Дни рождения</a>
                </li>
                <li>
                    <a class="nav-link{% if 'best' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" href="{% url 'best' %}">Лучшие сотрудники</a>
                </li>
                <li>
                    <a class="nav-link{% if 'contractors' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" href="{% url 'contractors:contractors_main' %}">Подрядчики</a>
                </li>
                <li>
                    <a class="nav-link{% if 'doc' in request.path %}
          active text-uppercase text-decoration-underline
          {% endif %}" href="{% url 'fileserv:main' %}">Шаблоны документов</a>
                </li>
                {#        <li class="nav-item">#}
                {#          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
                {#        </li>#}
            </ul>
            {#      <form class="d-flex">#}
            {#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
            {#        <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#      </form>#}
        </div>
    </div>
</nav>