{% extends 'base.html' %}
{% block content %}

    <h1 class="border-bottom display-3 mb-5 my-2 py-2 text-center text-info text-uppercase w-100 align-self-stretch ">Документы</h1>
    <div class="d-flex flex-column align-items-center">
{#    <div class="d-flex flex-wrap">#}
    <div class="container w-75">
    <table class="table table-striped" width="100%">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Документ</th>
      <th scope="col">Дата создания</th>

    </tr>
  </thead>
  <tbody>

        {% for h in hrdocs %}

            <p></p>
             <tr>
      <th scope="row">{{ h.pk }}</th>
      <td><a class="text-decoration-none" href="/media/{{ h.filedoc }}"> {{ h.name }}</a></td>
      <td><sub>{{ h.date_create }}</sub></td>

    </tr>
        {% endfor %}
    </table>
    </div>
    </div>
{#    </div>#}
{% endblock %}

