{% extends 'base.html' %}
{% block content %}
    <h1 class="border-bottom display-3 my-2 py-2 text-center text-info text-uppercase w-100">Сотрудники</h1>

        <form action="/search/" method="get">
            <input class="w-100 mb-2" name="q" type="text" placeholder="Поиск...">
            <button class="float-end mb-5" type="submit" value="submit">Поиск</button>
            <p>&nbsp;</p>
        </form>
    <ol>
{% for g in staff %}
        <li class="lh-lg"><a class="{% if g.fired %}
        text-muted
        {% endif %} " href="{{ g.get_absolute_url }}">{{ g.name }}</a> &nbsp;
            {% if g.fired %}

            {% else %}
                <span class="{% if 'InWork' in g.work_status %}
                text-primary
                {% elif 'wfh' in g.work_status %}
                text-warning
                {% else %}
                text-danger
                {% endif %} ">
                    {{ g.get_work_status_display }}
                </span>
            {% endif %}</li>
{% endfor %}
</ol>
{% endblock %}