{% extends 'base.html' %}
{% load wokerlist_tags %}
{% load static %}
{% block content %}
    <div class="container-fluid d-flex flex-column">
        <div class="row">
            <div class="col-10"><h1 class="display-6 text-primary">{{ staff.name }}</h1></div>
            <div class="col align-self-end
{% if staff.fired %}
text-danger fw-bold
{% elif 'InWork' in staff.work_status %}
 text-success
{% else %} text-danger fw-bold
{% endif %}">
                {% if staff.fired %}
                    УВОЛЕН
                {% elif staff.work_status %}
                {{ staff.get_work_status_display }}
                {% endif %}
                </div>
        </div>

        <div class="row border-bottom border-primary">
            <div class="col">
                <strong>Должность:</strong> {{ staff.position }}
            </div>
            <div class="col">
                {% if staff.replacement_employee %}
                <strong>Временно и/о:</strong>
                     <a href="/adr/{{ staff.replacement_employee.group.id }}/{{ staff.replacement_employee.id }}/" >{{ staff.replacement_employee }}</a>
{#                    {{ staff.replacement_employee }}#}
                {% endif %}
            </div>
        </div>
        <div class="row border-bottom border-primary">
            <div class="col-4">
                {#                <img src="{% static '/media/'+ staff.avatar %}">#}
                {% if staff.avatar %}
                    <img src="/media/{{ staff.avatar }}" width="100%" class="my-2">
                {% else %}
                    <img src="{% static 'no_photo.jpg' %}" width="100%" class="my-2">
                {% endif %}

            </div>
            <div class="col border-start border-primary pb-3">
                <h3 class="display-6 text-info">Контакты</h3>
                <div><strong>Адрес:</strong> {{ staff.adres }}</div>
                <div><strong>Отдел:</strong> <a href="/adr/{{ staff.group.id }}/"> {{ staff.group }}</a></div>
                <div><strong>Руководитель:</strong>
                    {% if staff.leader %}
                            <a href="/adr/{{ staff.leader.group.id }}/{{ staff.leader.id }}/" >{{ staff.leader }}</a>
                    {% else %}
                        Не нуждается
                    {% endif %}
                </div>
                {% if staff.w_mail %}<div><strong>Рабочая почта:</strong>
                    <a href="mailto:{{ staff.w_mail }}">{{ staff.w_mail }}</a>
                </div>{% endif %}
                {% if staff.w_tel %}<div><strong>Рабочий телефон:</strong>
                    <a href="tel:+38{{ staff.w_tel }}"> {{ staff.w_tel }}</a>
                </div>{% endif %}
                {% if staff.с_tel %}<div><strong>Корпоративный номер:</strong>
                    <a href="tel:+38{{ staff.с_tel }}">{{ staff.с_tel }}</a>
                </div>{% endif %}
                <div><strong>HR:</strong>
                    {% if staff.hr %}
                            <a href="/adr/{{ staff.hr.group.id }}/{{ staff.hr.id }}/" >{{ staff.hr }}</a>
                    {% else %}
                        ----
                    {% endif %}
                </div>
                {% if staff.start_work_date %}<div><strong>Принят в компанию:</strong>
                    {{ staff.start_work_date }}
                </div>{% endif %}
            </div>
        </div>
        <div class="row">

        <h3 class="mt-4 text-center display-6 text-info">Личные данные</h3>
            <div><strong>День рождения:</strong> {{ staff.b_date|date:"d F" }}</div>
            <div class="row">
                <div class="col"><strong>Личный номер: </strong>
                    {% if staff.p_tel %}
                        <a href="tel:+38{{ staff.p_tel }}">{{ staff.p_tel }}</a>
                    {% else %}
                         нет данных
                    {% endif %}
                </div>
                <div class="col"><strong>Личная почта: </strong>
                    {% if staff.p_mail %}
                        <a href="mailto:{{ staff.p_mail }}">{{ staff.p_mail }}</a>
                    {% else %}
                         нет данных
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col"><strong>Viber: </strong>
                    {% if staff.viber %}
                        <a href="viber://chat/?number=%2B38{{ staff.viber }}">{{ staff.viber }}</a>
                    {% else %}
                         нет данных
                    {% endif %}
                </div>
                <div class="col"><strong>Telegram: </strong>
                    {% if staff.telegram %}
                        <a href="tg://resolve?domain={{ staff.telegram }}">{{ staff.telegram }}</a>
                    {% else %}
                         нет данных
                    {% endif %}
                </div>
                <div class="col"><strong>Skype: </strong>
                    {% if staff.skype %}
                        <a href="skype:{{ staff.skype }}?chat">{{ staff.skype }}</a>
                    {% else %}
                         нет данных
                    {% endif %}
                </div>
            </div>
        <div class="border-top border-primary">
            <h3 class="text-center  display-6 text-info">Хобби и интересы</h3>
            {{ staff.hobby|markdown }}</div>
        </div>
    </div>
<p>&nbsp;</p>


{% endblock %}


