{% extends 'base.html' %}

{% block header %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ["orgchart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();

            {#.setRowProperty(2, 'selectedStyle', 'background-color:#FFFF00');#}
            data.addColumn('string', 'Name');
            data.addColumn('string', 'Manager');
            data.addColumn('string', 'ToolTip');
            // For each orgchart box, provide the name, manager, and tooltip to show.
            data.addRows([
                {% for st in structure %}
                    [ {'v': '{{ st.name }}', 'f': '<p><a class="{% if st.work_status != "InWork" %}text-danger{% endif %} " href="{{ st.get_absolute_url }}">{{ st.name }}</a><br><sup>{{ st.position }}</sup></p> '}, '{% if st.leader %}{{ st.leader }}{% endif %}','{{ st.get_work_status_display }}',],
                {% endfor %}

                {#[{'v': 'Mike','f': 'Mike<div style="color:red; font-style:italic">President</div>'},'', 'The President'],#}
                {#[{'v': 'Jim', 'f': 'Jim<div style="color:red; font-style:italic">Vice President</div>'}, 'Mike', 'VP'],#}
                {#['Bob', 'Jim', 'Bob Sponge'],#}
                {#['Carol', 'Mike', ''],#}
                {#['Alice', 'Mike', ''],#}
            ]);

            var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
            // Draw the chart, setting the allowHtml option to true for the tooltips.

            data.setRowProperty(1, 'style', 'background: #59abec !important;');

            chart.draw(data, {'allowHtml': true, }); {# 'color':'#F5F5F5', 'selectionColor':'rgba(13,110,253,0.25)'#}
        }
    </script>
{% endblock %}


{% block content %}
    <div class="mt-5" id="chart_div"></div>
{% endblock %}
